<p>forecast works!</p>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-6 col-sm-6 col-md-6 col-lg-6 d-flex flex-column'>
      <div class='card' *ngFor='let forecast of forecastData'>
        <div class='card-body d-flex flex-row'>
          <img src='{{forecast.weather[0].icon}}'/>
          <div class='card-data d-flex flex-column'>
            <span (click)='toggleUnit()'>
              <span [ngStyle]="{'font-weight': fahrenheit ? 'bold' : '400'}">°F</span> | <span [ngStyle]="{'font-weight': fahrenheit ? '400' : 'bold'}">°C</span>
            </span>
            <span *ngIf='fahrenheit' class='card-text'>{{forecast.main.temp | number: '1.0-0' }}</span>
            <span *ngIf='!fahrenheit' class='card-text'>{{calculateC(forecast.main.temp )| number: '1.0-0' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>